In [0]:
# Python Review from 2019.09.23
# Material: 초보자를 위한 파이썬 300제

In [0]:
#Q1-20

In [3]:
#1 화면에 Hello World 문자열을 출력하라.
print('Hello World')

Hello World

In [4]:
#2 화면에 Mary's cosmetics을 출력하라. (중간에 '가 있음에 주의.)
print("Mary's cosmetics")

Mary's cosmetics

In [5]:
#3 화면에 아래 문장을 출력하라. (중간에 "가 있음에 주의.)
# 신씨가 소리질렀다. "도둑이야".
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [16]:
#4 화면에 "C:\Windows"를 출력하라.
print("C:\\\\Windows")

C:\\Windows

In [7]:
#5 다음 코드를 실행해보고 \t와 \n의 역할을 설명하라.
print("안녕하세요.\n만나서\t\t반갑습니다.")
# Assumption-> \n = change in line, \t tab

안녕하세요.
만나서		반갑습니다.

In [8]:
#6 print 함수에 두 개의 단어를 입력한 예제이다. 아래 코드의 출력 결과를 예상하라.
print ("오늘은", "일요일")
# Assumption-> 오늘은, 일요일 -> comma도 없어진다!!!!! 공백만 남음

오늘은 일요일

In [17]:
#7 print() 함수를 사용하여 다음과 같이 출력하라.
#naver;kakao;sk;samsung #sep 사용!!!!
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [18]:
#8 print() 함수를 사용하여 다음과 같이 출력하라.
#naver/kakao/sk/samsung
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [20]:
#9 다음 코드를 수정하여 줄바꿈이 없이 출력되도록 하라. (힌트: end='') print 함수는 두 번 사용한다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용된다.
#print("first");print("second")
print("first", end=' '); print("second", end='')

first second

In [13]:
#10 string 문자열의 길이를 구하여라.
string = "dk2jd923i1jdk2jd93jfd92jd918943jfd8923"
len(string)

38

In [21]:
#11 아래 코드의 실행 결과를 예상하라. =>34
a = "3"
b = "4"
print(a + b)

34

In [24]:
#12 변수 s와 t에는 각각 문자열이 바인딩 되어있다. hello! python를 출력하시오.
s = "hello"
t = "python"
print(s+'! '+t)

hello! python

In [25]:
#13 아래 코드의 실행 결과를 예상하라. =>HiHiHI
print("Hi" * 3)

HiHiHi

In [26]:
#14 화면에 '-'를 80개 출력하라.
print('-'*80)

--------------------------------------------------------------------------------

In [42]:
#15 변수에 다음과 같은 문자열이 바인딩되어 있다. 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력하여라.
# python java python java python java python java
t1 = 'python'
t2 = 'java'

print((t1+' '+t2+' ')*4)

python java python java python java python java

In [34]:
#16 LG전자 주식을 10주 보유하고 있습니다. 금일 종가 20,000원일 경우 총 평가 금액을 화면에 출력하라.

print(20000*10)

200000

In [35]:
#17 아래 코드의 실행 결과를 예측하라. =>8
# 2 + 2 * 3 
2 + 2 * 3

8

In [38]:
#18 type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
#a = 128
#print (type(a))
#<class 'int'>

a = "132" #=> 문자형
type(a)

str

In [41]:
#19 문자열 '720'를 정수형으로 변환하라.
num_str = "720"
int(num_str)

720

In [40]:
#20 정수 100을 문자열 '100'으로 변환하라.
str(100)

'100'